/* reset styles  */
* {
  margin: 0;
  padding: 0;
}
/* common shared styles here */
body {
  font-family: "Kaushan Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* Banner Section Related Styles Start Here */
.banner-container {
  background-color: #e554731a;
  display: flex;
  padding: 50px 240px 0px 240px;
  align-items: center;
  justify-content: space-around;
  gap: 97px;
}

.banner-tittle {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.banner-hero-image img {
  width: 635px;
  height: 800px;
}
